@import 'normalize.css';
@import './fonts.scss';

html, body, #__nuxt, #app {
  height: 100%;
}

html {
  font-size: 17px;
  font-family: 'Century Gothic';
}

.content-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.form-row {
  width: 100%;
  margin: $base-form-margin 0;
}
