// colors
$blue:                                                                                            #4628ba;
$purple:                                                                                          #ab00ff;
$white:                                                                                           #ffffff;
$black:                                                                                           #000000;

// gradients
$purple-blue-gradient:                                                                              linear-gradient(90deg, #ab00ff 0%, #4628ba 100%);
