// colors
$blue:                                                                                            #4628ba;
$purple:                                                                                          #ab00ff;
$white:                                                                                           #ffffff;
$black:                                                                                           #000000;
$lighten-black-30:                                                                                  lighten($black, 30);
$muted-gray:                                                                                      #d9d9d9;
$light-gray:                                                                                      #c2bfba;
$gray:                                                                                            #7f7f7f;
$error:                                                                                           #a51d1d;
$success:                                                                                         #419e5d;

// gradients
$purple-blue-gradient:                                                                              linear-gradient(90deg, #ab00ff 0%, #4628ba 100%);
$purple-blue-purple-gradient:                                                                       linear-gradient(90deg, #fc00ff 0%, #00dbde 50%, #fc00ff 100%);

// sizes
$base-border-radius:                                                                                10px;
$base-form-margin:                                                                                  20px;
$base-control-width:                                                                                600px;

// cards
$card-background:                                                                                 #ffffff;
$card-padding:                                                                                      20px;
$card-border-radius:                                                                                $base-border-radius;

// inputs
$input-padding:                                                                                     10px;




// cms

// colors
$cms-shadow:                                                                                      #5e5c9a1a;

// sizes
$size-sm:                                                                                           600px;
$size-md:                                                                                           900px;
$size-lg:                                                                                           1200px;
$size-xl:                                                                                           1800px;

$header-height:                                                                                     60px;
$sidebar-expanded-width:                                                                            250px;
$sidebar-collapsed-width:                                                                           60px;
